@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nexa Bold";
  src: url('../../fonts/NexaXBold.otf');
}

@font-face {
  font-family: "NexaRegular";
  src: url('../../fonts/NexaRegular.otf')
}
